.Movie {
  width: 410px;
  position:absolute;
  display: block;
  z-index: 2147483646;
  height: auto;
  border: 1px solid rgb(207, 207, 207);
  background:#f7f7f7;
}
.Movie .prev{
  margin-right: 120px;
  margin-left: 0px;
  text-decoration:none
}
.Movie .next{
  margin-left: 20px;
  margin-right: 20px;
  float:right;
  text-decoration:none
}
#Pic {width:120px;padding: 20px 0px 0px 5px;height:170px;background:#f7f7f7;float:left;}
#Pic .imgs{}
#Content {width:280px;margin:5px 0px 0px -5px;height:160px;background:#f7f7f7;float:left;}
#Summary {background-color:#EEEEEE;margin:auto; height:auto; width:400px; float:left;}
#Content .Info {
  list-style-type: none;
  background-color: #f7f7f7;
  font-size: 13px;
  font-weight: bold;
  padding: 0px 0px 2px 20px;
  color: #666;
  text-align : left
}
#Content .Info span.Stars {
  display: inline;
  float: left;
  padding: 0 20px 0 75px;
  line-height: 15px;
  height: 15px;
  background: url('http://img3.douban.com/f/shire/e60f0c9a8f60fec48a229ae9e93aea63485b2e70/pics/all_bigstars.gif') 0 0 no-repeat;
}
#Content .Info a:link { text-decoration: none;color: blue}
#Content .average {
  color:#f56d4c;
  margin:0px 0px 0px 8px;
  font-size: 13px
}
#Content .ratings {
  margin:0px 0px 0px 8px;
  font-size: 13px
}
#Content ul{
  margin:0px 0px 0px 0px;
  padding: 0px 0px 0 15px;
}
#Summary .summary {
  list-style-type: none;
  word-break: break-all;
  word-wrap: break-word;
  padding: 2px 15px 2px 15px;
  background-color: #f7f7f7;
  font-size: 12px;
  color: #666;
  text-align : left;
  overflow: hidden;
}
#Summary em {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 50px 0 0 50px;
}
#Summary span {
  display: 'none'
}
#Summary em b {
  display: inline-block;
  height: 0;
  width: 0;
  margin-right: 11px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: #bbb transparent transparent;
  border-width: 6px;
}

#Content .gray{
  list-style-type: none;
  color:#666;
  font-size: 13px;
  padding: 0px 0px 2px 20px;
  text-align : left
}
